body {
  margin: 0;
  overflow: hidden; /* hide scroll bars & disable scrolling */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: lato-black;
    src: url("../fonts/Lato/Lato-Black.ttf");
}

@font-face {
    font-family: lato-bold;
    src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: lato-italic;
    src: url("../fonts/Lato/Lato-Italic.ttf");
}

@font-face {
    font-family: lato-bold-italic;
    src: url("../fonts/Lato/Lato-BoldItalic.ttf");
}

.select-file-icon {
    font-size: 20px;
}

h1 {
    font-family: lato-black, serif;
    font-size: 50px;
    color: azure;
}

h3 {
    font-size: 23px;
    color: floralwhite;
    font-family: lato-italic, serif;
}

.file-text {
    color: black;
    font-family: lato-italic, serif;
    font-size: 18px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.file-button {
    border: 2px solid rgba(173, 216, 230, 0.9);
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgba(173, 216, 230, 0.5);
    text-align: center;
    font-family: lato-bold, serif;
    font-size: 18px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    display: inline-block;
    border-radius: 10px;
    width: 50%;
    -webkit-transition: background-color 0.3s;
}

.file-button:hover {
    border: 2px solid rgba(173, 216, 230, 1);
    background-color: rgba(173, 216, 230, 0.6);
    transition: 0.1s ease-in;
    -webkit-transition: background-color 0.3s;
}

input[type="file"] {
    display: none;
}

.title {
  position: absolute;
  width: 33%;
  left: 20%;
  top: 10%;
  transform: translate(0, -50%);
}

.file-div {
  position: absolute;
  width: 20%;
  right: 20%;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.6;
  background-color: floralwhite;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 13px;
  border-radius: 20px;
  -webkit-transition: opacity 0.5s;
}

.file-div:hover {
    opacity: 0.8;
    transition: 0.1s ease-in;
    -webkit-transition: opacity 0.3s;
}

.up-button {
    background-color: rgba(0, 255, 0, 0.5);
}

.down-button {
    background-color: rgba(255, 0, 0, 0.5);
}

.regen-button {
    font-size: 20px;
    background-color: rgba(0, 0, 255, 0.5);
}
