body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131313;
}

@font-face {
    font-family: lato-black;
    src: url("../fonts/Lato/Lato-Black.ttf");
}

@font-face {
    font-family: lato-bold;
    src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: lato-regular;
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: lato-italic;
    src: url("../fonts/Lato/Lato-Italic.ttf");
}

@font-face {
    font-family: lato-bold-italic;
    src: url("../fonts/Lato/Lato-BoldItalic.ttf");
}

.select-file-icon {
    font-size: 20px;
}

h1 {
    font-family: lato-black, serif;
}

h2 {
    font-family: lato-bold, serif;
}

h3 {
    font-family: lato-regular, serif;
}

.file-text {
    color: black;
    font-family: lato-italic, serif;
    font-size: 18px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="file"] {
    display: none;
}

.home-text-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.file-select-upload-container {
    display: flex;
    flex-direction: column;
    width: 15vw;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 13px;
    border-radius: 20px;
    transition: 0.3s ease-in-out; /* Smooth hover effect */
    margin-left: 5vw;
}

.file-select-upload-container:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.up-button {
    background-color: rgba(0, 255, 0, 0.5);
}

.down-button {
    background-color: rgba(255, 0, 0, 0.5);
}

.base-button {
    font-family: lato-regular, serif;
    font-size: 23px;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.regenerate-button {
    margin-top: 1vw;
    background-color: white;
}

.regenerate-icon {
    vertical-align: bottom;
}

.file-select-upload-button {
    background-color: black;
    color: white;
}

.rows {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.recommendedRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Add space between rows */
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.rowOfFilms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw; /* Space between films */
    overflow-x: auto; /* Horizontal scrolling for smaller screens */
    align-items: center;
    justify-content: center;
}

.recommendedRowText {
    font-family: lato-black;
    color: white;
    font-size: 2.5rem;
}

.recommendedFilm {
    display: flex; /* Use flexbox for layout */
    margin: 5px; /* Spacing between film containers */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background-color: black;
    transition: 0.3s ease-in-out; /* Smooth hover effect */
    width: 40vw;
    height: 375px;
}

.recommendedFilm:hover {
    transform: scale(1.01); /* Slight scale on hover */
}

.opacity-fade-in {
    opacity: 0.85;
    transition: 0.3s ease-in-out; /* Smooth hover effect */
}

.opacity-fade-in:hover {
    opacity: 1.0;
}

.posterImg {
    width: 250px; /* Fixed width for poster */
    height: 375px;
    object-fit: cover; /* Maintain aspect ratio and cover container */
    display: block; /* Prevents a small gap below the image */
}

.film-details {
    flex: 1; /* Allow details to take up remaining space */
    padding: 15px;
    display: flex;
    flex-direction: column; /* Align details vertically */
}

.film-title-and-year-container {
    align-items: center; /* Vertically align title and year */
    font-size: 1.3rem;
    color: white;
}

.film-rating-runtime-genres-container {
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
}

.star {
    color: gold;
    margin-right: 3px;
    font-size: 1.2rem;
}

.film-rating-runtime-genres-text {
    color: white;
}

.film-summary {
    font-family: lato-regular, serif;
    font-size: 0.9rem;
    color: white;
    overflow: auto;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.buttons-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.up-down-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
    opacity: 0.7;
}

.up-button {
    color: green;
}

.down-button {
    color: red;
}

.similarity-score {
    font-family: lato-regular, serif;
    font-size: 0.9rem;
    color: white;
    margin-left: auto;
}

.buttons-and-similarity-score-container {
    display: flex;
    flex-direction: row;
    margin-top: auto;

}

.hidden-scroll-bar::-webkit-scrollbar {
    display: none;
}

.button-and-rows-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title {
    font-family: lato-black;
}

.home-text {
    font-family: lato-regular;
}

.home-text-italic {
    font-family: lato-italic;
}

.text-and-file-select-upload-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row; /* Change from row to column */
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    height: 100vh; /* Full viewport height for proper centering */
  }

.created-by-container {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding-left: 1vw;
}

.behind-the-scenes-container {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding-right: 1vw;
}

.additional-italic-text {
    font-family: lato-italic, serif;
    color: white;
}
